/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */

/* Скидання стилів */
@import url("reset.css");

body {
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

.page {
	padding: 20px;
}

/* --------------------- */

.form {
}
.form__line {
}
.form__line:not(:last-child) {
	margin-bottom: 20px;
}
.form__input {
	background-color: #fff;
	height: 50px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #333;
}

/*
.form__input::placeholder {
	color: #333;
	transition: opacity 0.8s;
}
.form__input:focus::placeholder {
	opacity: 0;
}
*/
/*
.form__input:focus {
	outline: 5px dotted red;
}
*/
.form__label {
	margin-bottom: 15px;
}

.form__input:disabled {
	opacity: 0.5;
}

.form__input--color {
	width: 50px;
	padding: 0;
	border-radius: 0;
}

.form__input--range {
	padding: 0;
}

.form__textarea {
	height: 100px;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	color: #333;

	resize: vertical;
}

.form__group:not(:last-child) {
	margin-bottom: 20px;
}
.form__group {
	border: 1px solid #fff;
	padding: 0 15px 15px 15px;
}
.form__title {
	background-color: #7a956b;
	padding: 10px;
	color: #000;
}

/* Практика */
/*
.search {
	position: relative;
	background-color: #fff;
	border: 1px solid #b1b1b1;
	border-radius: 8px;
}
.search__input {
	padding-left: 15px;
	padding-right: 54px;
	color: #000;
	border-radius: 8px;
	height: 50px;
}
.search__input::placeholder {
	color: #b1b1b1;
}
.search__button {
	position: absolute;
	right: 0;
	top: 0;
	width: 54px;
	height: 100%;
	background: url("../img/search.svg") center no-repeat;
}*/

.choose {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}
.choose__checkbox {
}

.checkbox {
	position: relative;
	cursor: pointer;
}
.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__text {
	outline: 1px solid #fff;
	outline-offset: 5px;
}
.checkbox__input:checked + .checkbox__text::before {
	background-color: #7a956b;
	border: 1px solid #7a956b;
}

.checkbox__text {
	font-size: 18px;
	font-weight: 700;
	display: flex;
	gap: 15px;
}
.checkbox__text::before {
	transition: all 0.3s;
	content: "";
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
}

.choose__radio {
}
.radio {
	position: relative;
	cursor: pointer;
}
.radio__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.radio__input:focus-visible + .radio__text {
	outline: 1px solid #fff;
	outline-offset: 5px;
}
.radio__input:checked + .radio__text::before {
	background-color: #7a956b;
	border: 1px solid #7a956b;
}
.radio__text {
	font-size: 18px;
	font-weight: 700;
	display: flex;
	gap: 15px;
}
.radio__text::before {
	transition: all 0.3s;
	content: "";
	flex-shrink: 0;
	width: 20px;
	border-radius: 50%;
	height: 20px;
	border: 1px solid #fff;
}
