@import url("reset.css");

.wrapper {
    min-height: 100%;
    overflow: clip;
}

.container {
    max-width: px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


