

@import "reset.css";

@import "fonts.css";

body {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;

}

.wrapper {
    overflow: clip;
	min-height: 100%;
}

.header {
    max-height: 100px;
    min-width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 200;
}
.header__main {
    padding: 25px 300px;  
}

.header__button {
    vertical-align: middle;
    display: inline-block;
}
.button {
    margin: 0 0 0 34px;
}
.button__link {
    padding: 11px 20px 11px 54px;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    background-color: #ffbc57;
    color: #fff;
    font-size: 19px;
    line-height: 1.26; /* 24/19 */
    position: relative;
}

.button__link:hover {
    background-color: #f5ab3d;
}

.button__link::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 8px;
    height: 24px;
    width: 24px;
    background: url("../img/icons/menu_catalog.svg") 0 0 / 100% no-repeat;
}

.header__menu {
    color: #2b2929;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    display: none;
}

.header__menu:target {
    display: block;
}

.header__list-cat {
    padding: 8px 0;
    position: absolute;
    left: 300px;
    top: 100px;
    min-height: 600px;
    min-width: 309px;
    background-color: #FFFFFF;
    border-radius: 8px 0 0 8px;
    z-index: 250;
}

.header__link-cat {
    padding: 10px 54px 10px 30px;
    width: 100%;
    position: relative;
}

.header__link-cat::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    background: url("../img/icons/arrow_right_yellow.svg") 0 0 / 100% no-repeat;
}

.header__link-cat:hover::after {
    background: url("../img/icons/arrow_right_black.svg") 0 0 / 100% no-repeat;
}

.header__link-cat:hover {
    background-color: #FFBC57;
}

.header__link-cat span {
    padding: 6px 0 0 15px;
    display: inline-block;
}

.header__link-cat img {
    width: 40px;
    height: 40px;
}

.header__sub-cat {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    min-width: 318px;
    display: none;
    overflow-y: auto;
    border-radius: 0 8px 8px 0;
    color: #2b2929;
    font-size: 19px;
    line-height: 1.7;
    font-weight: 400;
    min-height: 616px;
    background-color: #FFFFFF;
    padding: 8px 0;
    z-index: 250;
}

.header__sub-cat::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: calc(100% - 16px);
    background-color: #FFBC57;
}

.header__link-sub-cat {
    padding: 10px 54px 10px 30px;
    width: 100%;
}

.header__link-sub-cat:hover {
    background-color: #FFBC57;
}

.header__item-cat:hover .header__sub-cat {
    display: block;
}

.page {
    background-color: #F8F8F8;
}

.popular {
    color: #2B2929;
    margin: 0 300px;
    font-size: 0;
}
.popular__title {
    padding: 70px 0 40px 0;
}
.page-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
}
.cat-card {
    width: 250px;
    height: 300px;
    border-radius: 8px 8px 8px 8px;
    position: relative;
    margin: 12px 5px;
    background: #fff url("../img/content/shadow.svg") 50% 100%/100% no-repeat;
    display: inline-block;
}
.cat-card__header {
    padding: 20px 20px 60px 20px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
}
.cat-card__title {
    display: inline-block;
}
.cat-card__num {
    color: #b1b1b1;
    position: absolute;
    top: 20px;
    right: 20px;
}

.cat-card__img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.cat-card__link {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    display: none;
}

.cat-card:hover .cat-card__title {
    color: #f5ab3d;
}

.cat-card:hover .cat-card__link{
    display: block;
}

.footer {
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}
